# Ignore les fichiers de build de Visual Studio

*.obj
*.log

*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.user
*.suo
*.ipch
*.aps
*.ncb
*.sdf
*.opensdf
*.sln.docstates
*.vs/
# Ignore les dossiers de build

x86/
/.vs/slnx.sqlite
